/*Credit: lucasfth/custom-css-learnit */
body.limitedwidth #page.drawers .main-inner {
  max-width: 100% !important;
}

#page.drawers .main-inner {
  padding: 0.5rem 0.5rem !important;
}
/* enable four items to be in the starred card */
.dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
  width: calc(25% - 0.5rem) !important;
}

/* reorder dashboard cards */
aside#block-region-content {
  display: flex;
  flex-flow: column;
}

/* Timeline card */
aside#block-region-content section.block_timeline {
  order: 2;
}

/* Recently accessed items card */
aside#block-region-content section.block_recentlyaccesseditems {
  order: 3;
}

/* Starred courses card */
aside#block-region-content section.block_starredcourses {
  order: 1;
}

/* Upcoming events card */
aside#block-region-content section.block_calendar_upcoming {
  order: 4;
}

/* Study tools card */
aside#block-region-content section.block_cohortspecifichtml {
  order: 5;
}

:root {
  --topnav-bg-color: black !important;

  --brand-info-bg-color: black !important;
  --brand-info-fg-color: white !important;

  --card-title-bg-color: black !important;
  --card-title-fg-color: white !important;

  --drawer-block-active-bg-color: black !important;
}
