html,
html.dark {
  /* Using double selector to get priority (Alternative to !important on everything) */
  --hacker-dark: #121212;
  --hacker-darkest: #000;
  --hacker-green: #149414;
  --hacker-green-darker: #0e6b0e;
  --hacker-green-flat: #9ccc9c;
  --hacker-green-flat-darker: #649568;
  --hacker-green-flat-darkest: #2b5329;
  --hacker-white: #fff;

  --page-bg-color: #0a0a0a;
  --page-fg-color: var(--hacker-green);
  --page-fg-color-alt: rgba(0, 0, 0, 0.8);
  --page-border-color: #152b14;
  --card-title-bg-color: #357a32;
  --card-title-fg-color: var(--hacker-white);
  --card-bg-color: var(--hacker-darkest);
  --card-bg-color-alt: var(--hacker-dark);
  --card-border-color: #357a32;
  --card-sub-bg-color: #427bab0d;
  --card-sub-border-color: #ddd;
  --button-unnoticed-fg-color: var(--hacker-green);
  --button-good-fg-color: var(--hacker-white);
  --button-good-bg-color: #357a32;
  --button-good-hover-bg-color: #295f27;
  --button-bad-fg-color: var(--hacker-white);
  --pagination-bg-color: var(--hacker-white);
  --pagination-active-fg-color: var(--hacker-white);
  --topnav-bg-color: var(--hacker-dark);
  --topnav-fg-color: var(--hacker-green-flat);
  --topnav-hover-bg-color: var(--hacker-green-flat-darkest);
  --topnav-hover-fg-color: var(--hacker-white);
  --backdrop-bg-color: var(--hacker-darkest) 000;
  --table-color: var(--hacker-darkest);
  --brand-noticed-bg-color: var(--hacker-green);
  --drawer-btn-fg-color: var(--hacker-white);
  --drawer-menu-bg-color: var(--hacker-dark);
  --drawer-menu-card-bg-color: var(--hacker-white);
  --drawer-block-hover-fg-color: var(--hacker-darkest);
  --drawer-block-active-fg-color: var(--hacker-white);
  
  --field-bg-color: var(--hacker-dark);
  --card-blend: multiply;
}

html body {
  font-family: "Cascadia Mono", "Open Sans", sans-serif !important;
}

html {
  cursor: var(--custom-cursor), default;
}
a,button:hover {
  cursor: var(--custom-cursor-pointer), pointer !important;
}
