html.dark {
  --lpp-blue: #0198f0;
  --lpp-blue-darker: #1954ff;
  --lpp-black: #000000;
  --lpp-gray-900: #090b0c;
  --lpp-gray-850: #111111;
  --lpp-gray-700: #161616;
  --lpp-gray-600: #1f1f1f;
  --lpp-gray-500: #222222;
  --lpp-gray-400: #333333;
  --lpp-gray-blue-750: #14171a;
  --lpp-gray-blue-400: #495057;
  --lpp-gray-blue-300: #6a737b;

  --backdrop-bg-color: black;
  --page-border-color: var(--lpp-gray-700);
  --page-bg-color: var(--lpp-gray-500);
  --page-fg-color: #fff;
  --page-fg-color-alt: rgba(255, 255, 255, 0.8);
  --card-header-bg-color: var(--lpp-gray-600);
  --card-header-bg-color-alt: black;
  --card-bg-color: var(--lpp-gray-600);
  --card-bg-color-alt: black;
  --card-border-color: #333;
  --card-sub-bg-color: #427bab0d; /* 0d is alpha */
  --card-sub-border-color: #ddd;
  --button-noticed-bg-color: #0198f0;
  --button-unnoticed-fg-color: #dfe5eb;
  --button-unnoticed-bg-color: var(--lpp-gray-900);
  --button-unnoticed-hover-bg-color: #b8c1ca;
  --field-bg-color: var(--lpp-gray-900);
  --field-bg-color-alt: black;
  --field-border-color: var(--lpp-gray-900);
  --field-group-border-color: var(--lpp-gray-900);
  --pagination-bg-color: var(--card-bg-color);
  --pagination-border-color: var(--card-border-color);
  --popupmenu-bg-color: var(--lpp-gray-850);
  --popupmenu-fg-color: #fff;
  --popupmenu-shadow: #14171a;
  --popupmenu-hover-fg-color: #fff;
  --popupmenu-hover-bg-color: #0198f0;
  --popupmenu-active-bg-color: #373f46;
  --popupmenu-active-fg-color: #eee;
  --drawer-btn-bg-color: var(--lpp-gray-850);
  --drawer-btn-fg-color: #fff;
  --drawer-menu-bg-color: var(--lpp-gray-700);
  --drawer-menu-card-bg-color: #fff;
  --drawer-menu-card-bg-color-alt: var(--lpp-gray-500);
  --drawer-menu-card-fg-color: #495057;
  --drawer-block-bg-color: var(--lpp-gray-700);
  --drawer-block-fg-color: #fff;
  --drawer-block-hover-fg-color: black;
  --drawer-block-dimmed-fg-color: #6a737b;
  --drawer-block-active-fg-color: #fff;
  --message-send-bg: var(--lpp-gray-500);
  --message-received-bg: var(--lpp-gray-blue-750);
  --message-fg: var(--page-fg-color);
  --link-focus-color: var(--lpp-blue-darker);

  --card-blend: normal;
}

html.dark .fc {
  --fc-border-color: #3f3f3f;
  --fc-non-business-color: hsla(0, 0%, 18%, 0.3);
}

html.dark .text-muted {
  color: #ebebeb !important;
}

html.dark .block_recentlyaccesseditems a.dashboard-card small {
  color: #ebebeb !important;
}

html.dark .activityiconcontainer {
  background-color: var(--lpp-gray-700);
}

html.dark #usernavigation #searchform-navbar i {
  color: white;
}

html.dark .form-control:focus {
  color: rgb(226, 226, 226);
}

html.dark .content-item-container {
  border-color: #333 !important;
}

html.dark .notification-image img {
  filter: invert(1);
}

html.dark .path-mod-assign td.submissionnotgraded,
.path-mod-assign div.submissionnotgraded {
  color: #dadada;
}

html.dark .generaltable {
  background-color: var(--lpp-gray-700);
}

html.dark .fileuploadsubmission img {
  filter: invert(1);
}

html.dark #theme_boost-drawers-blocks {
  background-color: var(--drawer-menu-bg-color);
}

html.dark ::-webkit-scrollbar-track {
  background: #161616 !important;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #d4d4d4 !important;
  border: 3px solid #1b1b1b !important;
}

/* Handle on hover */
html.dark ::-webkit-scrollbar-thumb:hover {
  background: #292929 !important;
}

/* Calendar hover fix */
html.dark .maincalendar .calendarmonth .clickable:hover {
  background-color: #292929;
}

/* Grading page */
html.dark .path-mod-assign [data-region="grade-panel"] {
  background-color: var(--page-bg-color);
}

html.dark .path-mod-assign [data-region="grading-navigation-panel"] {
  border-color: var(--page-bg-color);
}

html.dark .mform fieldset {
  border-color: var(--card-border-color);
}

/* Grading page text area */
html.dark .path-mod-assign [data-region="grade-panel"] .fitem.has-popout {
  background-color: var(--card-bg-color-alt);
  --field-border-color: var(--card-border-color);
}

html.dark .atto_info[role="alert"],
html.dark .dropdown-menu {
  background-color: var(--card-bg-color);
}

html.dark .atto_h5p_button {
  filter: invert(60%);
}

/* Info box */
html.dark .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd {
  color: inherit;
}

html.dark .moodle-dialogue-base .closebutton::after {
  filter: invert(60%);
}

/* All submissions view */
html.dark .path-mod-assign .gradingtable tr.unselectedrow td,
html.dark .table-striped tbody tr:nth-of-type(2n + 1),
html.dark .secondary-navigation {
  background-color: inherit;
}

html.dark body.path-mod-quiz .gradedattempt,
body.path-mod-quiz table tbody tr.gradedattempt > td {
  border-color: var(--card-border-color) !important;
  background-color: inherit !important;
}

/* Link focus fix */
html.dark .aalink.focus,
html.dark a.focus.autolink,
html.dark .aalink:focus,
html.dark a.autolink:focus,
html.dark #page-footer a:not([class]).focus,
html.dark #page-footer a:not([class]):focus,
html.dark .arrow_link.focus,
html.dark .arrow_link:focus,
html.dark a:not([class]).focus,
html.dark a:not([class]):focus,
html.dark .activityinstance > a.focus,
html.dark .activityinstance > a:focus {
  color: var(--link-focus-color);
  background-color: unset;
  box-shadow: none;
}

/* Messages */

html.dark .message-app .message.send,
html.dark #page-mod-questionnaire-complete .message.send,
html.dark #page-mod-questionnaire-complete .message.tail.send {
  background-color: var(--message-send-bg);
  color: var(--message-fg);
}

html.dark .message-app .message.received,
html.dark #page-mod-questionnaire-complete .message.received,
html.dark #page-mod-questionnaire-complete .message.tail.received {
  background-color: var(--message-received-bg);
  color: var(--message-fg);
}

html.dark .message-app .message.send .time,
html.dark .message-app .message.received .time,
html.dark #page-mod-questionnaire-complete .message .time,
html.dark #page-mod-questionnaire-complete .message.tail .time {
  color: var(--message-fg);
}

html.dark .message-app .day {
  color: var(--message-fg);
}

html.dark .message-app .list-group-item-action:hover,
html.dark .message-app .list-group-item-action:focus {
  color: var(--message-fg);
  filter: brightness(0.8);
  background-color: var(--lpp-gray-700);
}

html.dark .hsuforum-thread {
  background-color: var(--message-send-bg);
}

html.dark .hsuforum-textarea {
  background-color: black;
}

/* Login screen */
html.dark .login-container {
  background-color: var(--page-bg-color);
}

html.dark body.pagelayout-login.loginbackgroundimage1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://learnit.itu.dk/pluginfile.php/1/theme_boost_union/loginbackgroundimage/0/itu-bygning-blue-compressed%281%29.jpg);
}

html.dark .path-grade-report-user .user-report-container,
html.dark .grade-report-user .user-report-container {
  background-color: var(--field-bg-color);
}

html.dark
  .path-grade-report-user
  .user-grade
  th.column-itemname:not(.header, .category, .baggt, .baggb),
html.dark
  .grade-report-user
  .user-grade
  th.column-itemname:not(.header, .category, .baggt, .baggb) {
  background-color: var(--popupmenu-bg-color);
  border-color: var(--card-border-color);
}

html.dark .path-grade-report-user .user-grade td.item,
html.dark .grade-report-user .user-grade td.item {
  background-color: var(--card-bg-color);
  border-color: var(--card-border-color);
}

html.dark .path-grade-report-user .user-grade td,
html.dark .grade-report-user .user-grade td {
  background-color: var(--popupmenu-bg-color);
}

html.dark .path-grade-report-user .user-grade th.category,
html.dark .grade-report-user .user-grade th.category {
  background-color: var(--card-bg-color-alt);
  border-color: var(--card-border-color);
}

html.dark .path-grade-report-user .user-grade thead th,
html.dark .grade-report-user .user-grade thead th {
  background: var(--card-bg-color-alt);
}

html.dark .path-grade-report-user .user-grade .baggt,
html.dark .path-grade-report-user .user-grade .baggb,
html.dark .grade-report-user .user-grade .baggt,
html.dark .grade-report-user .user-grade .baggb {
  background: var(--popupmenu-bg-color);
}

html.dark .path-grade-report-user .user-grade .column-itemname .itemicon,
html.dark .grade-report-user .user-grade .column-itemname .itemicon {
  filter: invert(1);
}

/* My courses page */
html.dark
  .block_myoverview
  [data-display="list"]
  .list-group-item:nth-of-type(odd) {
  background: var(--card-bg-color-alt);
}

/* Alert info */
div .themeboostunioninfobanner.alert.alert-info {
  background: var(--card-bg-color);
  border-width: medium;
  border-color: var(--brand-noticed-bg-color);
  color: var(--brand-noticed-bg-color);
}

html.dark .alert-info a {
  color: var(--button-noticed-bg-color);
}

/* Time slot scheduler */

html.dark #organizer_main_cointainer tr.registered_slot td {
  background-color: unset !important;
}

html.dark #organizer_main_cointainer span.countdown_passed,
html.dark #organizer_main_cointainer span.countdown_critical {
  background-color: unset;
  border-color: var(--brand-noticed-bg-color);
  border-style: solid;
  color: var(--brand-noticed-bg-color);
  border-radius: 4px;
  padding: 0.1rem;
}

/* Dropdown menu */
html.dark .dropdown-item:not(.active) {
  color: var(--button-noticed-bg-color);
}

/* Grading specific */
html.dark .que .info {
  background-color: var(--card-bg-color);
  border: 1px solid var(--card-border-color);
}

html.dark .que .formulation .answer {
  color: var(--card-title-fg-color);
  background-color: var(--card-bg-color);
  border-color: var(--card-border-color);
}

/* Questionair specific */
html.dark .qn-container {
  color: var(--page-fg-color);
}

html.dark .qn-question {
  background-color: var(--card-bg-color);
  border-color: var(--card-border-color);
}

html.dark #page-mod-questionnaire-complete td.raterow.c0,
html.dark #page-mod-questionnaire-preview td.raterow.c0,
html.dark #page-mod-questionnaire-complete td.notanswered,
html.dark #page-mod-questionnaire-preview td.notanswered,
html.dark #page-mod-questionnaire-myreport .individual .c0,
html.dark td.c1 + td.selected,
html.dark td.selected:has(+ td.c1) {
  background-color: var(--card-bg-color);
  border-color: var(--card-border-color);
}

html.dark #page-mod-questionnaire-complete td.c1,
html.dark #page-mod-questionnaire-preview td.c1,
html.dark #page-mod-questionnaire-myreport .individual .c1,
html.dark td.c0 + td.selected,
html.dark td.selected:has(+ td.c0) {
  background-color: var(--card-bg-color-alt);
  border-color: var(--card-border-color);
}

html.dark #page-mod-questionnaire-complete tr.raterow:hover,
html.dark #page-mod-questionnaire-preview tr.raterow:hover {
  background-color: var(--page-bg-color);
}

/* Course filter icon alpha channel */
html.dark .block_myoverview div.dropdown ul.dropdown-menu li a.dropdown-item::before {
  color: rgba(255, 255, 255, 0.4);
}
