html.dark {
  --backdrop-bg-color: black !important;
  --page-border-color: #161616 !important;
  --page-bg-color: #222222 !important;
  --page-fg-color: #fff !important;
  --card-header-bg-color: #1f1f1f !important;
  --card-header-bg-color-alt: #000000 !important;
  --card-bg-color: #1f1f1f !important;
  --card-bg-color-alt: #000 !important;
  --card-border-color: #333 !important;
  --card-blend: multiply !important;
  --card-sub-bg-color: #427bab0d !important;
  --card-sub-border-color: #ddd !important;
  --button-noticed-bg-color: #0198f0 !important;
  --button-unnoticed-fg-color: #dfe5eb;
  --button-unnoticed-bg-color: #090b0c;
  --button-unnoticed-hover-bg-color: #b8c1ca;
  --field-bg-color: #090b0c;
  --field-bg-color-alt: black;
  --field-border-color: #090b0c;
  --field-group-border-color: #090b0c;
  --pagination-bg-color: var(--card-bg-color);
  --pagination-border-color: var(--card-border-color);
  --popupmenu-bg-color: #121212;
  --popupmenu-fg-color: #fff;
  --popupmenu-shadow: #14171a;
  --popupmenu-hover-fg-color: #fff;
  --popupmenu-hover-bg-color: #0198f0;
  --popupmenu-active-fg-color: #373f46;
  --popupmenu-active-bg-color: #eee;
  --page-fg-color-alt: rgba(255, 255, 255, 0.8);
  --drawer-btn-bg-color: #111111;
  --drawer-btn-fg-color: #fff;
  --drawer-menu-bg-color: #161616;
  --drawer-menu-card-bg-color: #fff;
  --drawer-menu-card-bg-color-alt: #ddd;
  --drawer-menu-card-fg-color: #495057;
  --drawer-block-bg-color: #161616;
  --drawer-block-fg-color: #fff;
  --drawer-block-hover-fg-color: #000;
  --drawer-block-dimmed-fg-color: #6a737b;
  --drawer-block-active-fg-color: #fff;
  --card-blend: normal !important;
  --message-bg: #1d2125;
  --message-fg: #dee2e6;
  --link-focus-color: #1954ff;
}

html.dark .text-muted {
  color: #ebebeb !important;
}

html.dark .block_recentlyaccesseditems a.dashboard-card small {
  color: #ebebeb !important;
}

html.dark .activityiconcontainer {
  background-color: #161616;
}

html.dark #usernavigation #searchform-navbar i {
  color: white;
}

html.dark .form-control:focus {
  color: rgb(226, 226, 226);
}

html.dark .content-item-container {
  border-color: #333 !important;
}

html.dark .notification-image img {
  filter: invert(1);
}

html.dark .path-mod-assign td.submissionnotgraded,
.path-mod-assign div.submissionnotgraded {
  color: #dadada;
}

html.dark .generaltable {
  background-color: #161616;
}

html.dark .fileuploadsubmission img {
  filter: invert(1);
}

html.dark #theme_boost-drawers-blocks {
  background-color: var(--drawer-menu-bg-color);
}

html.dark ::-webkit-scrollbar-track {
  background: #161616 !important;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #d4d4d4 !important;
  border: 3px solid #1b1b1b !important;
}

/* Handle on hover */
html.dark ::-webkit-scrollbar-thumb:hover {
  background: #292929 !important;
}

/* Calender hover fix */
html.dark .maincalendar .calendarmonth .clickable:hover {
  background-color: #292929;
}

/* Grading page */
html.dark .path-mod-assign [data-region="grade-panel"] {
  background-color: var(--page-bg-color);
}

html.dark .path-mod-assign [data-region="grading-navigation-panel"] {
  border-color: var(--page-bg-color);
}

html.dark .mform fieldset {
  border-color: var(--card-border-color);
}

/* Grading page text area */
html.dark .path-mod-assign [data-region="grade-panel"] .fitem.has-popout {
  background-color: var(--card-bg-color-alt);
  --field-border-color: var(--card-border-color);
}

html.dark .atto_info[role="alert"],
html.dark .dropdown-menu {
  background-color: var(--card-bg-color);
}

html.dark .atto_h5p_button {
  filter: invert(60%);
}

/* Info box */
html.dark .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd {
  color: inherit;
}

html.dark .moodle-dialogue-base .closebutton::after {
  filter: invert(60%);
}

/* All submissions view */
html.dark .path-mod-assign .gradingtable tr.unselectedrow td,
html.dark .table-striped tbody tr:nth-of-type(2n + 1),
html.dark .secondary-navigation {
  background-color: inherit;
}

/* Link focus fix */
html.dark .aalink.focus,
html.dark a.focus.autolink,
html.dark .aalink:focus,
html.dark a.autolink:focus,
html.dark #page-footer a:not([class]).focus,
html.dark #page-footer a:not([class]):focus,
html.dark .arrow_link.focus,
html.dark .arrow_link:focus,
html.dark a:not([class]).focus,
html.dark a:not([class]):focus,
html.dark .activityinstance > a.focus,
html.dark .activityinstance > a:focus {
  color: var(--link-focus-color);
  background-color: unset;
  box-shadow: none;
}

html.dark .message-app .message.send,
html.dark .message-app .message.received {
  background-color: var(--message-bg);
  color: var(--message-fg);
}

html.dark .message-app .message.send .time,
html.dark .message-app .message.received .time {
  color: var(--message-fg);
}

html.dark .message-app .message.send .tail,
html.dark .message-app .message.received .tail {
  border-bottom-color: var(--message-bg);
}

html.dark .message-app .day {
  color: var(--message-fg);
}

html.dark .list-group-item-action:hover,
html.dark .list-group-item-action:focus {
  color: var(--message-fg);
  background-color: var(--message-bg);
}

html.dark .hsuforum-thread {
  background-color: var(--message-bg);
}

html.dark .hsuforum-textarea {
  background-color: black;
}

/* Login screen */
html.dark .login-container {
  background-color: var(--page-bg-color);
}

html.dark body.pagelayout-login.loginbackgroundimage1 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://learnit.itu.dk/pluginfile.php/1/theme_boost_union/loginbackgroundimage/0/itu-bygning-blue-compressed%281%29.jpg)
}