:root {
  --topnav-bg-color: black !important;
  --topnav-hover-bg-color: #272b2c !important;
  --topnav-hover-fg-color: #fff !important;

  --brand-info-bg-color: black !important;
  --brand-info-fg-color: white !important;

  --card-title-bg-color: black !important;
  --card-title-fg-color: white !important;

  --drawer-block-active-bg-color: black !important;
  --brand-noticed-bg-color: #e7ab05 !important;
}
