:root:root{
  --topnav-bg-color: black ;
  --topnav-hover-bg-color: #272b2c ;
  --topnav-hover-fg-color: #fff ;

  --brand-info-bg-color: black ;
  --brand-info-fg-color: white ;

  --card-title-bg-color: black ;
  --card-title-fg-color: white ;

  --drawer-block-active-bg-color: black ;
  --brand-noticed-bg-color: #e7ab05 ;
}
