/*Credit: lucasfth/custom-css-learnit */
body.limitedwidth #page.drawers .main-inner {
  max-width: 100% !important;
}

#page.drawers .main-inner {
  padding: 0.5rem 0.5rem !important;
}
/* enable four items to be in the starred card */
.dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
  width: calc(25% - 0.5rem) !important;
}

/* reorder dashboard cards */
aside#block-region-content {
  display: flex;
  flex-flow: column;
}

/* Timeline card */
aside#block-region-content section.block_timeline {
  order: 2;
}

/* Recently accessed items card */
aside#block-region-content section.block_recentlyaccesseditems {
  order: 3;
}

/* Starred courses card */
aside#block-region-content section.block_starredcourses {
  order: 1;
}

/* Upcoming events card */
aside#block-region-content section.block_calendar_upcoming {
  order: 4;
}
/* TimeEdit */
aside#block-region-content section.block_timeedit {
  order: 5;
}

/* Study tools card */
aside#block-region-content section.block_cohortspecifichtml {
  order: 6;
}


/* Logo replace */
html nav.navbar.fixed-top .navbar-brand:before,
html nav.navbar.fixed-top .navbar-brand:hover:before {
  content: "";
}
.site-name.navbar-brand {
  visibility: hidden;
}

.site-name.navbar-brand.show {
  visibility: visible;
}

/* Flex of starred courses */
html .dashboard-card-deck.one-row {
  flex-flow: row wrap;
  overflow-x: auto;
}
/* Better close buttons in drawers */
html body .drawer.drawer-left .drawertoggle,
html body .drawer.drawer-right .drawertoggle {
  justify-self: end;
  display: block !important;
  margin: 0;
  width: 100%;
  transition: 0.5s;
  border-radius: 0;
}

html .drawerheader {
  height: auto;
}

/* Handle darkmode button */

html .darkModeOnly,
html.dark .lightModeOnly {
  display: none;
}
html.dark .darkModeOnly,
html .lightModeOnly {
  display: block;
}
#dark-mode-toggle {
  display: none;
}
#dark-mode-label {
  cursor: pointer;
  margin: auto;
}

/* Reverse course/studyline order */
.course-info-container > div > div {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.course-info-container [data-region="favourite-icon"]{
  position: absolute;
  top: 0;
  right: 0;
}


/* Btn-link style */
/* Looks like a `a` tag. I know this is kinda bad practice but then it continues in the design style of LearnIT*/
.btn-link{
  cursor: pointer;
  color: var(--button-noticed-bg-color);
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.btn-link:hover {
  color: #094478;
  text-decoration: underline;
}

/* Course collapse/expand */
#collapseAllContainer .btn-link{
  display: none;
}

#collapseAllContainer.collapsed .openAllButton{
  display: block;
}
#collapseAllContainer:not(.collapsed) .collapseAllButton{
  display: block;
}

.visibility-hidden{
  visibility: hidden !important;
}

/**
*
* EVERYTHING BELOW SHOULD ONLY BE VARIABLE CHANGES
*
**/
/* Taking full control over variables */
:root {
  --topnav-bg-color: black !important;
  --topnav-hover-bg-color: #272b2c !important;
  --topnav-hover-fg-color: #fff !important;

  --brand-info-bg-color: black !important;
  --brand-info-fg-color: white !important;

  --card-title-bg-color: black !important;
  --card-title-fg-color: white !important;

  --drawer-block-active-bg-color: black !important;
  --brand-noticed-bg-color: #e7ab05 !important;
  /*
  --popupmenu-bg-color: #1d2125  !important;
  --popupmenu-fg-color: #fff !important;
  --popupmenu-shadow: #ccc !important;
  --popupmenu-hover-fg-color: #fff !important;
  --popupmenu-hover-bg-color: #0f6cbf !important;
  --popupmenu-active-fg-color: #373f46 !important;
  --popupmenu-active-bg-color: #eee !important;
  --pagination-fg-color: #0f6cbf !important;
  --pagination-bg-color: #fff !important;
  --pagination-border-color: #dee2e6 !important;
  --pagination-active-fg-color: #fff !important;
  --pagination-active-bg-color: #0f6cbf !important;
  --pagination-active-border-color: #0f6cbf !important;
  --backdrop-bg-color: #fdfeff !important;
  --page-bg-color: #fff !important;
  --page-fg-color: #333 !important;
  --page-fg-color-alt: rgba(0, 0, 0, 0.8) !important;
  --page-border-color: #dee2e6 !important;
  --button-noticed-fg-color: #e8e6e3 !important;
  --button-noticed-bg-color: #427bab !important;
  --button-noticed-hover-bg-color: #335f85 !important;
  --button-unnoticed-fg-color: #1d2125 !important;
  --button-unnoticed-bg-color: #ced4da !important;
  --button-unnoticed-hover-bg-color: #b8c1ca !important;
  --button-good-fg-color: #fff !important;
  --button-good-bg-color: #357a32 !important;
  --button-good-hover-bg-color: #295f27 !important;
  --button-warning-fg-color: #1d2125 !important;
  --button-warning-bg-color: #f0ad4e !important;
  --button-warning-hover-bg-color: #ed9d2b !important;
  --button-bad-fg-color: #fff !important;
  --button-bad-bg-color: #ca3120 !important;
  --button-bad-hover-bg-color: #a9291b !important;
  --table-color: #000 !important;
  --brand-noticed-bg-color: #cfe2f2 !important;
  --brand-noticed-bg-color-alt: #bcd6ed !important;
  --brand-noticed-fg-color: #083863 !important;
  --brand-unnoticed-bg-color: #f5f6f8 !important;
  --brand-unnoticed-bg-color-alt: #f1f3f5 !important;
  --brand-unnoticed-fg-color: #6b6e71 !important;
  --brand-info-bg-color-alt: #b8dce2 !important;
  --brand-good-bg-color: #d7e4d6 !important;
  --brand-good-bg-color-alt: #c6dac6 !important;
  --brand-good-fg-color: #1c3f1a !important;
  --brand-warning-bg-color: #fcefdc !important;
  --brand-warning-bg-color-alt: #fbe8cd !important;
  --brand-warning-fg-color: #7d5a29 !important;
  --brand-bad-bg-color: #f4d6d2 !important;
  --brand-bad-bg-color-alt: #f0c5c1 !important;
  --brand-bad-fg-color: #691911 !important;
  --brand-unavoidable-bg-color: #ffff00 !important;
  --brand-unavoidable-bg-color-alt: #ff0000 !important;
  --brand-unavoidable-fg-color: #000000 !important;
  --drawer-btn-bg-color: #333 !important;
  --drawer-btn-fg-color: #fff !important;
  --drawer-menu-bg-color: #fff !important;
  --drawer-menu-card-bg-color: #fff !important;
  --drawer-menu-card-bg-color-alt: #ddd !important;
  --drawer-menu-card-fg-color: #495057 !important;
  --drawer-block-bg-color: #dee2e6 !important;
  --drawer-block-fg-color: #495057 !important;
  --drawer-block-hover-fg-color: #000 !important;
  --drawer-block-dimmed-fg-color: #6a737b !important;
  --drawer-block-active-fg-color: #fff !important;
  --field-bg-color: #fff !important;
  --field-bg-color-alt: #f8f9fa !important;
  --field-border-color: #ced4da !important;
  --field-group-border-color: #f4f4f4 !important;
  --editor-bg-color: #f2f2f2 !important;
  --editor-fg-color: #495057 !important;
  --editor-border-color: #ced4da !important;
  --editor-item-bg-color: #fff !important;
  --editor-item-bg-color-alt: #ebebeb !important;
  --editor-item-border-color: #ccc !important;
  --card-header-bg-color: #c6d7e6 !important;
  --card-header-bg-color-alt: #f2f4f7 !important;
  --card-bg-color: #fff !important;
  --card-bg-color-alt: #f8f9fa !important;
  --card-border-color: #eee !important;
  --card-blend: multiply !important;
  --card-sub-bg-color: #427bab0d !important;
  --card-sub-border-color: #ddd !important;
  --color00: #002f37b7 !important;
  --color01: #00aeef !important;
  --color02: #00a8bd !important;
  --color03: #7c1847 !important;
  --color04: #0db14b !important;
  --color05: #5cb5e1 !important;
  --color06: #8f3f90 !important;
  --color07: #279ca5 !important;
  --color08: #0a8a3b !important;
  --color09: #5c2482 !important;
  --color10: #e84d0e !important;*/
}

html.dark {
  --backdrop-bg-color: black !important;
  --page-border-color: #161616 !important;
  --page-bg-color: #222222 !important;
  --page-fg-color: #fff !important;
  --card-header-bg-color: #1f1f1f !important;
  --card-header-bg-color-alt: #000000 !important;
  --card-bg-color: #1f1f1f !important;
  --card-bg-color-alt: #000 !important;
  --card-border-color: #333 !important;
  --card-blend: multiply !important;
  --card-sub-bg-color: #427bab0d !important;
  --card-sub-border-color: #ddd !important;
  --button-noticed-bg-color: #0198f0 !important;
  --button-unnoticed-fg-color: #dfe5eb;
  --button-unnoticed-bg-color: #090b0c;
  --button-unnoticed-hover-bg-color: #b8c1ca;
  --field-bg-color: #090b0c;
  --field-bg-color-alt: black;
  --field-border-color: #090b0c;
  --field-group-border-color: #090b0c;
  --popupmenu-bg-color: #1d2125;
  --popupmenu-fg-color: #fff;
  --popupmenu-shadow: #14171a;
  --popupmenu-hover-fg-color: #fff;
  --popupmenu-hover-bg-color: #0198f0;
  --popupmenu-active-fg-color: #373f46;
  --popupmenu-active-bg-color: #eee;
  --page-fg-color-alt: rgba(255, 255, 255, 0.8);
  --drawer-btn-bg-color: #111111;
  --drawer-btn-fg-color: #fff;
  --drawer-menu-bg-color: #161616;
  --drawer-menu-card-bg-color: #fff;
  --drawer-menu-card-bg-color-alt: #ddd;
  --drawer-menu-card-fg-color: #495057;
  --drawer-block-bg-color: #161616;
  --drawer-block-fg-color: #fff;
  --drawer-block-hover-fg-color: #000;
  --drawer-block-dimmed-fg-color: #6a737b;
  --drawer-block-active-fg-color: #fff;
}

html.dark .text-muted {
  color: #ebebeb !important;
}

html.dark .block_recentlyaccesseditems a.dashboard-card small {
  color: #ebebeb !important;
}

html.dark .activityiconcontainer {
  background-color: #161616;
}
html.dark #usernavigation #searchform-navbar i {
  color: white;
}
html.dark .form-control:focus {
  color: rgb(226, 226, 226);
}

html.dark .content-item-container {
  border-color: #333 !important;
}

html.dark .notification-image img {
  filter: invert(1);
}

html.dark .path-mod-assign td.submissionnotgraded,
.path-mod-assign div.submissionnotgraded {
  color: #dadada;
}
html.dark .generaltable {
  background-color: #161616;
}

html.dark .fileuploadsubmission img {
  filter: invert(1);
}

html.dark #theme_boost-drawers-blocks{
  background-color: var(--drawer-menu-bg-color);
}
html.dark .secondary-navigation{
  background: none;
}
html.dark ::-webkit-scrollbar-track {
  background: #161616 !important;
}
html.dark ::-webkit-scrollbar-thumb {
  background: #d4d4d4 !important;
  border: 3px solid #1b1b1b !important;
}

/* Handle on hover */
html.dark ::-webkit-scrollbar-thumb:hover {
  background: #292929 !important;
}